useDynLib(SumTool, .registration=TRUE)
export(SImputeZ)
export(SImputeB)
export(read_plink)
export(write_plink)
export(FileNrow)
export(FileNcol)
export(LMreg)
export(LDcal)
export(LDscore)
export(LDclump)
export(LDprune)
export(SBLUP)
export(LDreg)
importFrom(Rcpp, evalCpp)
import(stats)
import(bigmemory)
importFrom(methods, is)
importFrom(methods, getPackageName)
importFrom(utils, read.table)
importFrom(utils, write.table)
importFrom(utils, packageVersion)
importFrom(bigmemory, attach.big.matrix)
